.tile {
  border: 1px solid black;

  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;

  width: 2rem;
  height: 2rem;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 1px solid black;
}

.highlight {
  background-color: #ff6666aa;
}
