.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 10px;
}

.buttons > button {
  margin-left: 10px;
  margin-right: 10px;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background-color: #777A;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 4rem;
  color: whitesmoke;

  z-index: 1000;
} 
